/**** ESTILOS GENERICO ****/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* PROPIEDADES GRIDS(GENERICO) */
#container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-auto-flow: row;
  grid-template-areas: "header" "main" "footer";
}

body {
  background-color: #FBF2F2;
}

/* HEADER(DESKTOP) */
header {
  height: auto;
  background-color: #FFFBFB;
}
header a img {
  margin: 10px;
  width: 300px;
}

.logo_animado {
  animation: slideInLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

#menu li a {
  color: #232744;
  font-weight: 700;
}
#menu li a:hover {
  color: #ED5772;
}

.botones, .opinion a, .recorridos article div a, .hero a {
  color: #232744;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  border: solid 1px #ED5772;
}
.botones:hover, .opinion a:hover, .recorridos article div a:hover, .hero a:hover {
  background-color: #ED5772;
  color: #FBF2F2;
}

/* FOOTER(DESKTOP) */
.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FFFBFB;
  padding: 20px;
  height: auto;
  margin-top: 30px;
}
.footer img {
  width: 300px;
}

.redes {
  align-items: center;
}
.redes h4 {
  color: #232744;
  padding-bottom: 7px;
}
.redes a img {
  width: 50px;
  transition: 1s;
}
.redes a img:hover {
  transform: scale(1, 1);
}

/* MAIN(INICIO)/HERO(DESKTOP) */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 98px);
  margin-bottom: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero h1 {
  color: #232744;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  padding: 0 20px;
}
.hero p {
  color: #232744;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding: 40px 150px;
}
.hero a {
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
}

/* MAIN(INICIO)/PROPUESTA(DESKTOP) */
.propuesta > div {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 50px;
}
.propuesta div h2 {
  color: #232744;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding: 0 30px 20px 10px;
}
.propuesta div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.propuesta div div p {
  color: #232744;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

/* MAIN(INICIO)/RECORRIDOS(DESKTOP) */
.recorridos h2 {
  color: #232744;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
.recorridos article {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.recorridos article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 30px 50px 30px;
  width: 400px;
  height: 650px;
  border: solid 2px #ED5772;
  border-radius: 15px;
  box-shadow: 11px 11px 0px -4px rgba(237, 87, 114, 0.52);
  -webkit-box-shadow: 11px 11px 0px -4px rgba(237, 87, 114, 0.52);
  -moz-box-shadow: 11px 11px 0px -4px rgba(237, 87, 114, 0.52);
  transition: 1s;
}
.recorridos article > div:hover {
  transform: scale(1, 1);
  width: 420px;
  background-color: #F3CFD5;
}
.recorridos article div p {
  color: #232744;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 0px 20px;
  margin: 0;
}
.recorridos article div a {
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
}
.recorridos article div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recorridos article div div h3 {
  color: #232744;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  padding: 10px 10px 20px 10px;
}
.recorridos article div div img {
  width: 350px;
  height: 350px;
  border-radius: 5%;
}

.logo_animado {
  animation: slideInLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

/* MAIN(DETRAS_DE_TBA)/HERO(DESKTOP) */
.hero_detras_tba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  margin-bottom: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
}
.hero_detras_tba h1 {
  color: #232744;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}
.hero_detras_tba p {
  color: #232744;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

/* MAIN(DETRAS_DE_TBA)/EQUIPO(DESKTOP) */
.equipo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.equipo article {
  display: flex;
  flex-flow: row wrap;
  width: 300px;
  margin: 20px;
  transition: 1s;
}
.equipo article:hover {
  width: 320px;
  height: 538px;
}
.equipo article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px #ED5772;
  background-color: #FFFBFB;
  border-radius: 15px;
  box-shadow: 11px 11px 0px -4px rgba(237, 87, 114, 0.52);
  -webkit-box-shadow: 11px 11px 0px -4px rgba(237, 87, 114, 0.52);
  -moz-box-shadow: 11px 11px 0px -4px rgba(237, 87, 114, 0.52);
  margin-bottom: 15px;
  width: 340px;
  height: 352px;
  transition: 1s;
}
.equipo article div:hover {
  background-color: #F3CFD5;
}
.equipo article div h2 {
  color: #232744;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}
.equipo article div img {
  border-radius: 10%;
  width: 300px;
  height: 300px;
  padding: 20px;
}
.equipo article p {
  color: #232744;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

/* MAIN(REVIEWS)/HERO(DESKTOP) */
.hero_reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  margin-bottom: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
}
.hero_reviews h1 {
  color: #232744;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}
.hero_reviews p {
  color: #232744;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

/* MAIN(REVIEWS)/OPINIONES(DESKTOP) */
.conjunto_opiniones {
  display: flex;
  flex-direction: column;
}

.opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 80px 50px 80px;
}
.opinion figure blockquote p {
  color: #232744;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  line-height: 4vh;
}
.opinion img {
  width: 150px;
  margin-bottom: 20px;
  transition: 1s;
}
.opinion a {
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.estrellas_animadas {
  animation: heartBeat;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* MAIN(PROXIMAS_FECHAS)/HERO(DESKTOP) */
.hero_prox_fechas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  margin-bottom: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
}
.hero_prox_fechas h1 {
  color: #232744;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}
.hero_prox_fechas p {
  color: #232744;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  margin: 0;
}

/* MAIN(PROXIMAS_FECHAS)/FECHAS(DESKTOP) */
#grupo_privado {
  background-color: #e5c8c8;
}

.conjunto_fechas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fecha {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px 30px 100px;
  padding: 20px;
  border: solid 2px #ED5772;
  border-radius: 10px;
  background-color: #FBF2F2;
}
.fecha div {
  width: 1000px;
}
.fecha div h2 {
  color: #232744;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  padding-bottom: 10px;
}
.fecha div h3 {
  color: #232744;
  font-weight: 400;
  font-size: 25px;
  text-align: left;
  padding-bottom: 10px;
}
.fecha div p {
  color: #232744;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  font-style: italic;
  padding-right: 50px;
}
.fecha a {
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
}

.boton_animado {
  animation: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.badge {
  background-color: #232744;
  color: #ED5772;
}

form {
  margin-top: 50px;
}
form h4 {
  color: #232744;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #ED5772;
}
form div label {
  color: #232744;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
}

/* MAIN(SALIDAS)/HERO(DESKTOP) */
.hero_salidas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  margin-bottom: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
}
.hero_salidas h1 {
  color: #232744;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}
.hero_salidas p {
  color: #232744;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

/* MAIN(SALIDAS)/SALIDAS(DESKTOP) */
.hero_terror, .hero_metro, .hero_mate, .hero_comida, .hero_palermo, .hero_chalecito, .hero_amores {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 20vh;
  background: linear-gradient(rgba(0, 0, 0, 0.331), rgba(0, 0, 0, 0.233)), url(../images/terror1.png);
  background-position: center;
  background-repeat: repeat;
  border-radius: 10px;
  margin: 60px 30px 10px 30px;
}

.hero_amores {
  background: linear-gradient(rgba(0, 0, 0, 0.331), rgba(0, 0, 0, 0.233)), url(../images/amores1.png);
  transition: none;
}

.hero_chalecito {
  background: linear-gradient(rgba(0, 0, 0, 0.331), rgba(0, 0, 0, 0.233)), url(../images/chalecito2.png);
  transition: none;
}

.hero_palermo {
  background: linear-gradient(rgba(0, 0, 0, 0.331), rgba(0, 0, 0, 0.233)), url(../images/arte2.png);
  transition: none;
}

.hero_comida {
  background: linear-gradient(rgba(0, 0, 0, 0.331), rgba(0, 0, 0, 0.233)), url(../images/comida1.png);
  transition: none;
}

.hero_mate {
  background: linear-gradient(rgba(0, 0, 0, 0.331), rgba(0, 0, 0, 0.233)), url(../images/mate2.png);
  transition: none;
}

.hero_metro {
  background: linear-gradient(rgba(0, 0, 0, 0.331), rgba(0, 0, 0, 0.233)), url(../images/metro2.png);
  transition: none;
}

.salidas article div p {
  color: #232744;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  margin: 0 50px;
}
.salidas article div p:hover {
  font-weight: 700;
}
.salidas article h2 {
  color: #FFFBFB;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px #ED5772;
}

/******** MEDIA QUERIES ********/
@media screen and (max-width: 1105px) {
  /* FECHAS(PROXIMAS_FECHAS)/MAX 1105PX*/
  .fecha div {
    width: 900px;
  }
}
@media screen and (max-width: 1055px) {
  /* HERO(INICIO)/MAX 1055PX*/
  .hero {
    height: calc(100vh - 170.41px);
  }
}
@media screen and (max-width: 991px) {
  /* HEADER/MAX 991PX*/
  .logo_animado {
    animation: slideInDown;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  /* HERO/MAX 991PX*/
  .hero {
    height: calc(100vh - 130px);
  }
}
@media screen and (max-width: 986px) {
  /* FECHAS(PROXIMAS_FECHAS)/MAX 986PX*/
  .fecha div {
    width: 800px;
  }
  .fecha {
    margin: 0px 80px 30px 80px;
  }
}
@media screen and (max-width: 900px) {
  /* HERO(INICIO)/MAX 900PX */
  .hero h1 {
    font-size: 56px;
  }
  .hero p {
    font-size: 18px;
    padding: 40px 100px;
  }
  .hero a {
    font-size: 17px;
  }
  /* FECHAS(PROXIMAS_FECHAS)/MAX 900PX*/
  .fecha div {
    width: auto;
  }
  .fecha {
    margin: 0px 40px 30px 40px;
  }
}
@media screen and (max-width: 819px) {
  /* RECORRIDOS(INICIO)/MAX 819PX */
  .recorridos h2 {
    padding-bottom: 10px;
  }
  .recorridos article {
    flex-direction: column;
    align-items: center;
    margin: 10px 5px 15px 5px;
  }
  .recorridos article > div {
    margin: 10px 5px 30px 5px;
  }
}
@media screen and (max-width: 799px) {
  /* GALERIA(INICIO)/MAX 799PX */
  .galeria div {
    flex-direction: column;
    padding: 0px 5px 50px 5px;
    align-items: center;
  }
}
@media screen and (max-width: 771px) {
  /* HERO(INICIO)/MAX 771PX */
  .hero h1 {
    font-size: 50px;
  }
  .hero p {
    font-size: 17px;
    padding: 40px 80px;
  }
  .hero a {
    font-size: 15px;
  }
}
@media screen and (max-width: 693px) {
  /* HERO(INICIO)/MAX 693PX */
  .hero h1 {
    font-size: 50px;
  }
  .hero p {
    font-size: 16px;
    padding: 20px 30px;
  }
  .hero a {
    font-size: 14px;
  }
  /* PROPUESTA(INICIO)/MAX 693PX */
  .propuesta > div {
    flex-direction: column;
  }
  .propuesta div {
    padding: 20px;
  }
  .propuesta div h2 {
    padding: 0px;
  }
  .propuesta div div p {
    padding: 10px;
  }
  /* OPINIONES(REVIEWS)/MAX 693PX*/
  .opinion div div p {
    padding: 20px 10px 0 10px;
  }
}
@media screen and (max-width: 585px) {
  /* HEADER/MAX 585PX */
  header nav div img {
    width: 250px;
  }
  /* FOOTER/MAX 585PX */
  .footer img {
    width: 250px;
  }
  .redes h4 {
    padding-bottom: 4px;
  }
  .redes a img {
    width: 45px;
    margin-left: 5px;
  }
  /* OPINIONES(REVIEWS)/MAX 585PX*/
  .opinion {
    margin: 20px 20px;
  }
}
@media screen and (max-width: 502px) {
  /* HERO(PROXIMAS_FECHAS)/MAX 502PX */
  .hero_prox_fechas {
    height: auto;
  }
  .hero_prox_fechas h1 {
    margin-top: 20px;
  }
  .hero_prox_fechas p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 432px) {
  .hero p {
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  /* HEADER/MAX 425PX */
  header nav div img {
    width: 200px;
  }
  /* FOOTER/MAX 425PX */
  .footer img {
    width: 200px;
  }
}
@media screen and (max-width: 420px) {
  /* GALERIA(INICIO)/MAX 420PX */
  .galeria div img {
    width: 100%;
    padding: 0 0 10px 0;
  }
}
@media screen and (max-width: 414px) {
  /* HERO(DETRAS_DE_TBA)/MAX 414PX */
  .hero_detras_tba {
    height: auto;
  }
  .hero_detras_tba h1 {
    margin-top: 20px;
  }
  .hero_detras_tba p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 390px) {
  /* RECORRIDOS(INICIO)/MAX 390PX */
  .recorridos article > div {
    width: 300px;
    height: 650px;
    margin: 30px 10px 50px 10px;
  }
  .recorridos article div div img {
    width: 270px;
    height: 270px;
  }
}
@media screen and (max-width: 376px) {
  /* HERO(INICIO)/MAX 376PX */
  .hero p {
    padding: 30px 40px;
  }
}
@media screen and (max-width: 359px) {
  /* HERO(INICIO)/MAX 359PX */
  .hero {
    height: auto;
  }
  .hero h1 {
    margin-top: 20px;
  }
  .hero a {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=archivo.css.map */
