/**** ESTILOS GENERICO ****/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

/* PROPIEDADES GRIDS(GENERICO) */
#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}

body {
    background-color: #FBF2F2;
}

/* HEADER/DESKTOP */
.header {
    grid-area: header;
    background-color: #FFFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 20vh;
}

.header a {
    width: 300px;
}

.header a img {
    width: 300px;
    padding-left: 30px;
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav ul li {
    padding: 30px;
}

.header nav ul li a {
    text-decoration: none;
    color: #232744;
    font-weight: 700;
}

.header nav ul li a:hover {
    color: #EB4A80;
}

/* MAIN(INICIO)/HERO(DESKTOP) */

.main {
    grid-area: main;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 20vh);
    margin-bottom: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero h1 {
    color: #232744;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding: 0 20px;
}

.hero p {
    color: #232744;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 40px 150px;
}

.hero a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: #232744;
    background-color: #ED5772;
    border-radius: 15px;
    padding: 10px;
}

.hero a:hover {
    background-color: #EB4A80;
    color: #FBF2F2;
}

/* MAIN(INICIO)/PROPUESTA(DESKTOP) */
.propuesta > div {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.propuesta div h2 {
    color: #232744;
    padding-bottom: 20px;
    padding-left: 50px;
}

.propuesta div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.propuesta div div p {
    color: #232744;
    text-align: center;
    padding: 10px 50px;
}

/* MAIN(INICIO)/GALERIA(DESKTOP) */
.galeria div {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 30px 0 30px 0;
}

.galeria div img {
    width: 400px;
    padding: 10px;
    border-radius: 10%;
}

/* MAIN(INICIO)/RECORRIDOS(DESKTOP) */
.recorridos h2 {
    text-align: center;
    color: #232744;
    padding-bottom: 30px;
}

.recorridos article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.recorridos article > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 30px 50px 30px;
    width: 350px;
    height: 600px;
    border: solid 2px #ED5772;
    border-radius: 15px;
    box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
    -webkit-box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
    -moz-box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
}

.recorridos article div p {
    color: #232744;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px 40px;
}

.recorridos article div a {
    text-decoration: none;
    color: #232744;
    font-weight: 700;
    background-color: #ED5772;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
}

.recorridos article div a:hover {
    background-color: #EB4A80;
    color: #FBF2F2;
}

.recorridos article div div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recorridos article div div h3 {
    color: #232744;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px 20px 10px;
}

.recorridos article div div img {
    width: 320px;
    height: 320px;
    border-radius: 5%;
}

/* MAIN(DETRAS_DE_TBA)/HERO(DESKTOP) */
.hero_detras_tba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 30px;
}

.hero_detras_tba h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 10px 0 10px;
}

.hero_detras_tba p {
    text-align: center;
}

/* MAIN(DETRAS_DE_TBA)/EQUIPO(DESKTOP) */
.equipo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.equipo article {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    height: 518px;
    margin: 20px;
}

.equipo article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #ED5772;
    background-color: #FFFBFB;
    border-radius: 15px;
    box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
    -webkit-box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
    -moz-box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
    margin-bottom: 10px;
    width: 340px;
    height: 352px;
}

.equipo article div h2 {
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 20px;
}

.equipo article div img {
    border-radius: 10%;
    width: 300px;
    height: 300px;
    padding: 20px;
}

.equipo article p {
    text-align: center;
    font-size: 14px;
    padding: 4px;
}

/* MAIN(REVIEWS)/HERO(DESKTOP) */
.hero_reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 30px;
}

.hero_reviews h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 20px;
}

.hero_reviews p {
    text-align: center;
}

/* MAIN(REVIEWS)/OPINIONES(DESKTOP) */
.conjunto_opiniones {
    display: flex;
    flex-direction: column;
}

.opinion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FBF2F2;
    border:solid 2px #F7629B;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 50px;
}

.opinion a {
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    color: black;
    background-color: #F7629B;
    border-radius: 15px;
    margin-bottom: 10px;
}

.opinion a:hover {
    background-color: #F53D84;
    color: white;
}

.opinion img {
    border-radius: 10px;
}

.opinion div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.opinion div div {
    flex-direction: column;
}

.opinion div div h2 {
    text-transform: uppercase;
    font-weight: 700;
}

.opinion div div p {
    padding: 20px 50px 0px 50px;
    font-style: italic;
    line-height: 4vh;
    text-align: center;
}

/* MAIN(PROXIMAS_FECHAS)/HERO(DESKTOP) */
.hero_prox_fechas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 30px;
}

.hero_prox_fechas h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 10px 0 10px;
}

/* MAIN(PROXIMAS_FECHAS)/FECHAS(DESKTOP) */
#grupo_privado {
    background-color: #e5c8c8;
}
.conjunto_fechas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fecha {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 30px 100px;
    padding: 20px;
    border: solid 2px #F7629B;
    border-radius: 10px;
    background-color: #FBF2F2;
}

.fecha div {
    width: 1000px;
}

.fecha div h2 {
    padding-bottom: 10px;
}

.fecha div h3 {
    padding-bottom: 20px;
}

.fecha div p {
    font-style: italic;
    padding-right: 50px;
    padding-bottom: 10px;
    text-align: left;
}

.fecha a {
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    border-radius: 15px;
    color: black;
    background-color: #F7629B;

}

.fecha a:hover {
    color: white;
    background-color: #F53D84;
}

/* MAIN(SALIDAS)/HERO(DESKTOP) */
.hero_salidas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 30px;
}

.hero_salidas h1 {
    font-size: 60px;
    font-weight: 700;
    padding: 0 10px 20px 10px;
}

.hero_salidas p {
    text-align: center;
    padding: 0 10px 0 10px;
}

/* MAIN(SALIDAS)/SALIDAS(DESKTOP) */
.salidas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: solid 2px #F7629B;
    border-radius: 15px;
    background-color: #FBF2F2;
}

.salidas div img {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-radius: 10px;
}

.salidas div h2 {
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 50px;
}

.salidas div p {
    padding: 5px 50px;
}

/* FOOTER(DESKTOP) */
.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFFBFB;
    padding: 20px;
    height: auto;
    margin-top: 30px;
}

.footer img {
    width: 300px;
}

.redes {
    align-items: center;
}

.redes h5 {
    color: #232744;
    padding-bottom: 7px;
    padding-left: 5px;
}

.redes a img {
    width: 50px;
}

/******** MEDIA QUERIES ********/

@media screen and (max-width: 1105px) {
    /* FECHAS(PROXIMAS_FECHAS)/MAX 1105PX*/
.fecha div {
    width: 900px;
}
}

@media screen and (max-width: 1055px) {
/* HEADER/MAX 1055PX*/
.header {
    flex-direction: column;
    height: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.header a img {
    padding-left: 0px;
}

.header nav ul li {
    padding-bottom: 20px;
}

/* HERO(INICIO)/MAX 1055PX*/
.hero {
    height: calc(100vh - 170.41px);
}

/* OPINIONES(REVIEWS)/MAX 1055PX*/
.opinion div {
    flex-direction: column;
}
}

@media screen and (max-width: 986px) {
/* FECHAS(PROXIMAS_FECHAS)/MAX 986PX*/
.fecha div {
    width: 800px;
}

.fecha {
    margin: 0px 80px 30px 80px;
}
}

@media screen and (max-width: 977px) {
/* MAIN(SALIDAS)/MAX 977PX */
.salidas div h2 {
    text-align: center;
    padding: 20px 30px;
}

.salidas div p {
    text-align: center;
    padding: 5px 20px;
}
}

@media screen and (max-width: 900px) {
/* HERO(INICIO)/MAX 900PX */
.hero h1 {
    font-size: 56px;
}

.hero p {
    font-size: 17px;
    padding: 40px 100px;
}

.hero a {
    font-size: 17px;
}

/* FECHAS(PROXIMAS_FECHAS)/MAX 900PX*/
.fecha div {
    width: auto;
}

.fecha {
    margin: 0px 40px 30px 40px;
}
}
@media screen and (max-width: 819px) {
/* RECORRIDOS(INICIO)/MAX 819PX */
.recorridos h2 {
    padding-bottom: 10px;
}

.recorridos article {
    flex-direction: column;
    align-items: center;
    margin: 10px 5px 15px 5px;
}

.recorridos article > div {
    margin: 10px 5px 30px 5px;
}
}

@media screen and (max-width: 799px) {
/* GALERIA(INICIO)/MAX 799PX */
.galeria div {
    flex-direction: column;
    padding: 0px 5px 50px 5px;
    align-items: center;
}
}

@media screen and (max-width: 771px) {
/* HEADER/MAX 771PX */
.header nav ul li {
    padding: 25px;
}

/* HERO(INICIO)/MAX 771PX */
.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 15px;
    padding: 40px 80px;
}

.hero a {
    font-size: 15px;
}

/* SALIDAS(SALIDAS)/MAX 771PX */
.salidas {
    flex-direction: column;
}

#imagenes_salidas {
    display: flex;
    flex-direction: row;
}
}

@media screen and (max-width: 693px) {
/* HEADER/MAX 693PX */
.header nav ul li {
    padding: 20px;
}

/* HERO(INICIO)/MAX 693PX */
.hero h1 {
    font-size: 45px;
}

.hero p {
    font-size: 15px;
    padding: 40px 60px;
}

/* PROPUESTA(INICIO)/MAX 693PX */
.propuesta > div {
    flex-direction: column;
}

.propuesta div {
    padding: 20px;
}

.propuesta div h2 {
    padding: 0px;
}

.propuesta div div p {
    padding: 10px;
}

/* OPINIONES(REVIEWS)/MAX 693PX*/
.opinion div img {
    width: 100%;
}

.opinion div div p {
    padding: 20px 10px 0 10px;
}
}

@media screen and (max-width: 627px) {
/* HEADER/MAX 627PX */
.header nav ul {
    flex-direction: column;
    text-align: center;
}

.header nav ul li {
    padding: 5px;
}
}

@media screen and (max-width: 604px) {
/* SALIDAS(SALIDAS)/MAX 604PX */
#imagenes_salidas img {
    margin: 10px;
    width: 225px;
}
}

@media screen and (max-width: 585px) {
/* HEADER/MAX 585PX */
.header a {
    width: 250px;
}

.header a img {
    width: 250px;
}

/* FOOTER/MAX 585PX */
.footer img {
    width: 250px;
}

.redes h5 {
    font-size: 12px;
    padding-right: 0px;
    padding-left: 5px;
}

.redes a img {
    width: 45px;
}

/* OPINIONES(REVIEWS)/MAX 585PX*/
.opinion {
    margin: 20px 20px;
}
}

@media screen and (max-width: 535px) {
    /* SALIDAS(SALIDAS)/MAX 535PX */
#imagenes_salidas img {
    width: 200px;
}
.salidas div p {
    padding: 0;
}
}

@media screen and (max-width: 545px) {
/* HERO(INCIO)/MAX 545PX */
.hero p {
    padding: 40px 40px;
}
}
@media screen and (max-width: 502px) {
/* HERO(PROXIMAS_FECHAS)/MAX 502PX */
.hero_prox_fechas {
    height: auto;
}

.hero_prox_fechas h1 {
    margin-top: 20px;
}

.hero_prox_fechas p {
    margin-bottom: 20px;
}
}

@media screen and (max-width: 495px) {
/* SALIDAS(SALIDAS)/MAX 495PX */
#imagenes_salidas {
    flex-direction: column;
}

#imagenes_salidas img {
    width: 250px;
}
}

@media screen and (max-width: 425px) {
/* HEADER/MAX 425PX */
.header a {
    width: 200px;
}

.header a img {
    width: 200px;
}

/* FOOTER/MAX 425PX */
.footer img {
    width: 200px;
}

.redes h5 {
    font-size: 10px;
    padding-right: 0px;
    padding-left: 3px;
}

.redes a img {
    width: 35px;
}
}

@media screen and (max-width: 420px) {
/* HERO/MAX 420PX */
.hero p {
    padding: 40px 40px;
    }

/* GALERIA(INICIO)/MAX 420PX */
.galeria div img {
    width: 100%;
    padding: 0px;
}
.galeria div img {
    width: 100%;
    padding: 0 0 10px 0;
}
}

@media screen and (max-width: 414px) {
/* HERO(DETRAS_DE_TBA)/MAX 414PX */
.hero_detras_tba {
    height: auto;
}

.hero_detras_tba h1 {
    margin-top: 20px;
}

.hero_detras_tba p {
    margin-bottom: 20px;
}
}

@media screen and (max-width: 390px) {
/* RECORRIDOS(INICIO)/MAX 390PX */
.recorridos article > div {
    width: 300px;
    height: 650px;
    margin: 30px 10px 50px 10px;
}

.recorridos article div div img {
    width: 270px;
    height: 270px;
}

/* SALIDAS(SALIDAS)/MAX 390PX */
.salidas {
    height: auto;
    margin: 5px;
    padding: 10px;
}

.salidas div h2 {
    padding: 10px;
}
}

@media screen and (max-width: 376px) {
/* HERO(INICIO)/MAX 376PX */
.hero p {
    padding: 30px 40px;
    }
}

@media screen and (max-width: 359px) {
/* HERO(INICIO)/MAX 359PX */
.hero {
    height: auto;
}

.hero h1 {
    margin-top: 20px;
}

.hero a {
    margin-bottom: 20px;
}
}

