/**** ESTILOS GENERICO ****/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

/* PROPIEDADES GRIDS(GENERICO) */
#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}

body {
    background-color: #FBF2F2;
}

