/**** ESTILOS GENERICO ****/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* PROPIEDADES GRIDS(GENERICO) */
#container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-auto-flow: row;
  grid-template-areas: "header" "main" "footer";
}

body {
  background-color: #FBF2F2;
}

/* HEADER(DESKTOP) */
.header {
  grid-area: header;
  background-color: #FFFBFB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 20vh;
}
.header a {
  width: 300px;
}
.header a img {
  width: 300px;
  padding-left: 30px;
}
.header nav ul {
  display: flex;
  list-style: none;
}
.header nav ul li {
  padding: 30px;
}
.header nav ul li a {
  text-decoration: none;
  color: #232744;
  font-weight: 700;
}
.header nav ul li a:hover {
  color: #EB4A80;
}

/* MAIN(INICIO)/HERO(DESKTOP) */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin-bottom: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero h1 {
  color: #232744;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  padding: 0 20px;
}
.hero p {
  color: #232744;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 40px 150px;
}
.hero a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #232744;
  background-color: #ED5772;
  border-radius: 15px;
  padding: 10px;
  transition: 1s;
}
.hero a:hover {
  background-color: #EB4A80;
  color: #FBF2F2;
  padding: 15px;
}

/* MAIN(INICIO)/PROPUESTA(DESKTOP) */
.propuesta > div {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 50px;
}
.propuesta div h2 {
  color: #232744;
  padding-bottom: 20px;
  padding-left: 50px;
}
.propuesta div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.propuesta div div p {
  color: #232744;
  text-align: center;
  padding: 10px 50px;
}

/* MAIN(INICIO)/GALERIA(DESKTOP) */
.galeria div {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 30px 0 30px 0;
}
.galeria div img {
  width: 400px;
  padding: 10px;
  border-radius: 10%;
}

/* MAIN(INICIO)/RECORRIDOS(DESKTOP) */
.recorridos h2 {
  text-align: center;
  color: #232744;
  padding-bottom: 30px;
}
.recorridos article {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.recorridos article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 30px 50px 30px;
  width: 350px;
  height: 600px;
  border: solid 2px #ED5772;
  border-radius: 15px;
  box-shadow: 11px 11px 0px -4px rgba(237, 87, 114, 0.52);
  -webkit-box-shadow: 11px 11px 0px -4px rgba(237, 87, 114, 0.52);
  -moz-box-shadow: 11px 11px 0px -4px rgba(237, 87, 114, 0.52);
  transition: 1s;
}
.recorridos article > div:hover {
  transform: scale(1, 1);
  width: 380px;
  background-color: #F3CFD5;
}
.recorridos article div p {
  color: #232744;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 10px 40px;
}
.recorridos article div a {
  text-decoration: none;
  color: #232744;
  font-weight: 700;
  background-color: #ED5772;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
}
.recorridos article div a:hover {
  background-color: #EB4A80;
  color: #FBF2F2;
}
.recorridos article div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recorridos article div div h3 {
  color: #232744;
  font-weight: 700;
  text-align: center;
  padding: 10px 10px 20px 10px;
}
.recorridos article div div img {
  width: 320px;
  height: 320px;
  border-radius: 5%;
}

/* FOOTER(DESKTOP) */
.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FFFBFB;
  padding: 20px;
  height: auto;
  margin-top: 30px;
}
.footer img {
  width: 300px;
}

.redes {
  align-items: center;
}
.redes h5 {
  color: #232744;
  padding-bottom: 7px;
  padding-left: 5px;
}
.redes a img {
  width: 50px;
  transition: 1s;
}
.redes a img:hover {
  transform: scale(1, 1);
}

/******** MEDIA QUERIES ********/
@media screen and (max-width: 1055px) {
  /* HEADER/MAX 1055PX*/
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .header a img {
    padding-left: 0px;
  }
  .header nav ul li {
    padding-bottom: 20px;
  }
}
/* HERO(INICIO)/MAX 1055PX*/
.hero {
  height: calc(100vh - 170.41px);
}

@media screen and (max-width: 900px) {
  /* HERO(INICIO)/MAX 900PX */
  .hero h1 {
    font-size: 56px;
  }
  .hero p {
    font-size: 17px;
    padding: 40px 100px;
  }
  .hero a {
    font-size: 17px;
  }
}
@media screen and (max-width: 819px) {
  /* RECORRIDOS(INICIO)/MAX 819PX */
  .recorridos h2 {
    padding-bottom: 10px;
  }
  .recorridos article {
    flex-direction: column;
    align-items: center;
    margin: 10px 5px 15px 5px;
  }
  .recorridos article > div {
    margin: 10px 5px 30px 5px;
  }
}
@media screen and (max-width: 799px) {
  /* GALERIA(INICIO)/MAX 799PX */
  .galeria div {
    flex-direction: column;
    padding: 0px 5px 50px 5px;
    align-items: center;
  }
}
@media screen and (max-width: 771px) {
  /* HEADER/MAX 771PX */
  .header nav ul li {
    padding: 25px;
  }
  /* HERO(INICIO)/MAX 771PX */
  .hero h1 {
    font-size: 50px;
  }
  .hero p {
    font-size: 15px;
    padding: 40px 80px;
  }
  .hero a {
    font-size: 15px;
  }
}
@media screen and (max-width: 693px) {
  /* HEADER/MAX 693PX */
  .header nav ul li {
    padding: 20px;
  }
  /* HERO(INICIO)/MAX 693PX */
  .header h1 {
    font-size: 45px;
  }
  .header p {
    font-size: 15px;
    padding: 40px 60px;
  }
  /* PROPUESTA(INICIO)/MAX 693PX */
  .propuesta > div {
    flex-direction: column;
  }
  .propuesta div {
    padding: 20px;
  }
  .propuesta div h2 {
    padding: 0px;
  }
  .propuesta div div p {
    padding: 10px;
  }
}
@media screen and (max-width: 627px) {
  /* HEADER/MAX 627PX */
  .header nav ul {
    flex-direction: column;
    text-align: center;
  }
  .header nav ul li {
    padding: 5px;
  }
}
@media screen and (max-width: 585px) {
  /* HEADER/MAX 585PX */
  .header a {
    width: 250px;
  }
  .header a img {
    width: 250px;
  }
  /* FOOTER/MAX 585PX */
  .footer img {
    width: 250px;
  }
  .redes h5 {
    font-size: 12px;
    padding-right: 0px;
    padding-left: 5px;
  }
  .redes a img {
    width: 45px;
  }
}
@media screen and (max-width: 545px) {
  /* HERO(INCIO)/MAX 545PX */
  .hero p {
    padding: 40px 40px;
  }
}
@media screen and (max-width: 425px) {
  /* HEADER/MAX 425PX */
  .header a {
    width: 200px;
  }
  .header a img {
    width: 200px;
  }
  /* FOOTER/MAX 425PX */
  .footer img {
    width: 200px;
  }
  .redes h5 {
    font-size: 10px;
    padding-right: 0px;
    padding-left: 3px;
  }
  .redes a img {
    width: 35px;
  }
}
@media screen and (max-width: 420px) {
  /* HERO/MAX 420PX */
  .hero p {
    padding: 40px 40px;
  }
  /* GALERIA(INICIO)/MAX 420PX */
  .galeria div img {
    width: 100%;
    padding: 0 0 10px 0;
  }
}
@media screen and (max-width: 390px) {
  /* RECORRIDOS(INICIO)/MAX 390PX */
  .recorridos article > div {
    width: 300px;
    height: 650px;
    margin: 30px 10px 50px 10px;
  }
  .recorridos article div div img {
    width: 270px;
    height: 270px;
  }
}
@media screen and (max-width: 376px) {
  /* HERO(INICIO)/MAX 376PX */
  .hero p {
    padding: 30px 40px;
  }
}
@media screen and (max-width: 359px) {
  /* HERO(INICIO)/MAX 359PX */
  .hero {
    height: auto;
  }
  .hero h1 {
    margin-top: 20px;
  }
  .hero a {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=archivo.css.map */
