/* MAIN(DETRAS_DE_TBA)/HERO(DESKTOP) */
.hero_detras_tba {
    @extend .hero;
    height: 30vh;
    h1 {
        margin-top: 30px;
        font-size: 60px;
        font-weight: 700;
        color: $color_texto;
        text-align: center;
    }
    p {
        color: $color_texto;
        text-align: center;
    }
}

/* MAIN(DETRAS_DE_TBA)/EQUIPO(DESKTOP) */
.equipo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    article {
        display: flex;
        flex-flow: row wrap;
        width: 300px;
        height: 518px;
        margin: 20px;
        transition: 1s;
        &:hover {
            width: 320px;
        height: 538px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: solid 2px #ED5772;
            background-color: #FFFBFB;
            border-radius: 15px;
            box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
            -webkit-box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
            -moz-box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
            margin-bottom: 10px;
            width: 340px;
            height: 352px;
            transition: 1s;
            &:hover {
                background-color: #F3CFD5;
            }
            h2 {
                text-transform: uppercase;
                font-weight: 700;
                padding-top: 20px;
            }
            img {
                border-radius: 10%;
                width: 300px;
                height: 300px;
                padding: 20px;
            }
        }
        p {
            text-align: center;
            font-size: 14px;
            padding: 4px;
        }
    }
}