/* MAIN(INICIO)/HERO(DESKTOP) */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
    margin-bottom: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h1 {
        @include texto($color_texto, 700, 60px, center);
        padding: 0 20px;
    }
    p {
        @include texto($color_texto, 400, 20px, center);
        padding: 40px 150px;
    }
    a {
        @extend .botones;
        text-decoration: none;
        border-radius: 15px;
        padding: 10px;
    }
}

/* MAIN(INICIO)/PROPUESTA(DESKTOP) */
.propuesta {
    > div {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 20px 50px;
        }
    div {
        h2 {
            @include texto($color_texto, 700, 30px, center);
            padding: 0 30px 20px 10px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            p {
                @include texto($color_texto, 400, 20px, center);
                padding: 10px;
            }
        }
    }
}

/* MAIN(INICIO)/RECORRIDOS(DESKTOP) */
.recorridos {
    h2 {
        @include texto($color_texto, 700, 30px, center);
        padding-bottom: 10px;
        padding-top: 20px;
    }
    article {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: row wrap;
        > div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: 30px 30px 50px 30px;
            width: 400px;
            height: 680px;
            border: solid 2px $principal;
            border-radius: 15px;
            box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
            -webkit-box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
            -moz-box-shadow: 11px 11px 0px -4px rgba(237,87,114,0.52);
            transition: 1s;
            &:hover {
                transform: scale(1, 1);
                width: 420px;
                background-color: #F3CFD5;
            }
        }
        div {
            p {
                @include texto($color_texto, 400, 18px, center);
                padding: 0px 20px;
            }
            a {
                @extend .botones;
                text-decoration: none;
                border-radius: 15px;
                padding: 10px;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    @include texto($color_texto, 700, 28px, center);
                    padding: 10px 10px 20px 10px;
                }
                img {
                    width: 350px;
                    height: 350px;
                    border-radius: 5%;
                }
            }
        }
    }
}
