/* MAIN(REVIEWS)/HERO(DESKTOP) */
.hero_reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    margin-bottom: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0.331), rgba(255, 255, 255, 0.33)), url(../images/plantilla.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
    margin-bottom: 30px; 
    h1 {
        @include texto($color_texto, 700, 60px, center);
    }
    p {
        @include texto($color_texto, 400, 20px, center);
        padding-top: 10px;
    }
}

/* MAIN(REVIEWS)/OPINIONES(DESKTOP) */
.conjunto_opiniones {
    display: flex;
    flex-direction: column;
}

.opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 80px 50px 80px;
    figure {
        blockquote {
            p {
                @include texto($color_texto, 400, 18px, center);
                font-style: italic;
                line-height: 4vh;
            }
        }
    }
    img {
        width: 150px;
        margin-bottom: 20px;
        transition: 1s;
    }
    a {
        @extend .botones;
        text-decoration: none;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 10px;
    }
}

.estrellas_animadas {
    animation: heartBeat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}