/**** ESTILOS GENERICO ****/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

/* PROPIEDADES GRIDS(GENERICO) */
#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}

body {
    background-color: #FBF2F2;
}

/* HEADER(DESKTOP) */
header {
    background-color: #FFFBFB;
    nav {
        div {
            img {
                width: 300px;
            }
            div {
                ul {
                    li {
                        a {
                            color: $color_texto;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

.menu {
    justify-content: space-between;
}

.botones {
    background-color: white;
    border: solid 1px $boton_inicio;
    color: $color_texto;
    &:hover {
        background-color: $boton_final;
        color: $texto_boton_final;
    }
}

/* FOOTER(DESKTOP) */
.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFFBFB;
    padding: 20px;
    height: auto;
    margin-top: 30px;
    img {
        width: 300px;
    }
}

.redes {
    align-items: center;
    h4 {
        color: $color_texto;
        padding-bottom: 7px;
    }
    a {
        img {
            width: 50px;
            transition: 1s;
            &:hover {
                transform: scale(1, 1);
            }
        }
    }
}

