/**** ESTILOS GENERICO ****/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

/* PROPIEDADES GRIDS(GENERICO) */
#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}

body {
    background-color: #FBF2F2;
}

/* HEADER(DESKTOP) */
.header {
    grid-area: header;
    background-color: #FFFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 20vh;
    a {
        width: 300px;
        img {
            width: 300px;
            padding-left: 30px;
        }
    }
    nav {
        ul {
            display: flex;
            list-style: none;
            li {
                padding: 30px;
                a {
                    text-decoration: none;
                    color: $color_texto;
                    font-weight: 700;
                    &:hover{
                        color: #EB4A80;
                    }
                }
            }
        }
    }
}

/* FOOTER(DESKTOP) */
.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFFBFB;
    padding: 20px;
    height: auto;
    margin-top: 30px;
    img {
        width: 300px;
    }
}

.redes {
    align-items: center;
    h4 {
        color: $color_texto;
        padding-bottom: 7px;
    }
    a {
        img {
            width: 50px;
            transition: 1s;
            &:hover {
                transform: scale(1, 1);
            }
        }
    }
}

