/******** MEDIA QUERIES ********/

@media screen and (max-width: 1205px) {
/* FECHAS(PROXIMAS_FECHAS)/MAX 1205PX*/
    .fecha {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            h2 {
                text-align: center;
            }
            h3 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1105px) {
/* FECHAS(PROXIMAS_FECHAS)/MAX 1105PX*/
    .fecha {
        div {
            width: 900px;
        }
    }
}

@media screen and (max-width: 1055px) {
/* HERO(INICIO)/MAX 1055PX*/
    .hero {
        height: calc(100vh - 170.41px);
    }
}

@media screen and (max-width: 991px) {
/* HEADER/MAX 991PX*/
    .logo_animado {
        animation: slideInDown;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    /* HERO/MAX 991PX*/
    .hero {
        height: calc(100vh - 130px);
    }
}

@media screen and (max-width: 986px) {
/* FECHAS(PROXIMAS_FECHAS)/MAX 986PX*/
    .fecha {
        div {
            width: 800px;
        }
    }
}

@media screen and (max-width: 900px) {
/* HERO(INICIO)/MAX 900PX */
    .hero {
        h1 {
            font-size: 56px;
        }
        p {
            font-size: 18px;
            padding: 40px 100px;
        }
        a {
            font-size: 17px;
        }
    }

/* MAIN(INICIO)/MAX 900PX */
.propuesta {
    div {
        h2 {
            font-size: 28px;
        }
        div {
            p {
                font-size: 18px;
            }
        }
    }
}

.recorridos {
    h2 {
        font-size: 28px;
    }
    article {
        div {
            div {
                h3 {
                    font-size: 26px;
                }
            }
            p {
                font-size: 18px;
            }
            a {
                font-size: 17px;
            }
        }
    }
}

/* FECHAS(PROXIMAS_FECHAS)/MAX 900PX*/
    .fecha {
        div {
            width: auto;
        }
    }
}

@media screen and (max-width: 799px) {
/* GALERIA(INICIO)/MAX 799PX */
    .galeria {
        div {
            flex-direction: column;
            padding: 0px 5px 50px 5px;
            align-items: center;
        }
    }
}

@media screen and (max-width: 771px) {
/* HERO(INICIO)/MAX 771PX */
    .hero {
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 17px;
            padding: 40px 80px;
        }
        a {
            font-size: 15px;
        }
    }

    .propuesta {
        div {
            h2 {
                font-size: 26px;
            }
            div {
                p {
                    font-size: 17px;
                }
            }
        }
    }
    
    .recorridos {
        h2 {
            font-size: 26px;
        }
        article {
            div {
                div {
                    h3 {
                        font-size: 24px;
                    }
                }
                p {
                    font-size: 17px;
                }
                a {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 693px) {
/* HERO(INICIO)/MAX 693PX */
    .hero {
        h1 {
            margin: 0;
            padding: 0 10px;
        }
        p {
            padding: 10px 20px;
        }
        a {
        }
    }

/* PROPUESTA(INICIO)/MAX 693PX */
    .propuesta {
        > div {
            flex-direction: column;
            }
        div {
            padding: 20px;
            h2 {
                padding: 0px;
            }
            div {
                p {
                padding: 10px;
                }
            }
        }
    }

/* OPINIONES(REVIEWS)/MAX 693PX*/
    .opinion {
        div {
            div {
                p {
                    padding: 20px 10px 0 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 585px) {
/* HEADER/MAX 585PX */
    header {
        nav {
            div {
                img {
                    width: 250px;
                }
            }
        }
    }

/* FOOTER/MAX 585PX */
    .footer {
        img {
            width: 250px;
        }
    }

    .redes {
        h4 {
            padding-bottom: 4px;
        }
        a {
            img {
                width: 45px;
                margin-left: 5px;
            }
        }
    }

/* OPINIONES(REVIEWS)/MAX 585PX*/
    .opinion {
        margin: 20px 20px;
    }
}

@media screen and (max-width: 502px) {
/* HERO(PROXIMAS_FECHAS)/MAX 502PX */
    .hero_prox_fechas {
        height: auto;
        h1 {
            margin-top: 20px;
        }
        p {
            margin-bottom: 20px;
        }
    }


}

@media screen and (max-width: 432px) {
/* RECORRIDOS(INICIO)/MAX 819PX */
    .recorridos {
        article {
            > div {
                width: 370px;
                height: 630px;
            }
            div {
                div {
                    img {
                        width: 320px;
                        height: 320px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
/* HEADER/MAX 425PX */
    header {
        nav {
            div {
                img {
                    width: 200px;
                }
            }
        }
    }
/* FOOTER/MAX 425PX */
    .footer {
        img {
            width: 200px;
        }
    }
}

@media screen and (max-width: 420px) {

/* GALERIA(INICIO)/MAX 420PX */
    .galeria {
        div {
            img {
                width: 100%;
                padding: 0 0 10px 0;
            }
        }
    }
}

@media screen and (max-width: 414px) {
/* HERO(DETRAS_DE_TBA)/MAX 414PX */
    .hero_detras_tba {
        height: auto;
        h1 {
            margin-top: 20px;
        }
        p {
            margin-bottom: 20px;
        }
    }
}    

@media screen and (max-width: 390px) {
/* RECORRIDOS(INICIO)/MAX 390PX */
    .recorridos {
        article {
            > div {
                width: 300px;
                height: 650px;
                margin: 30px 10px 50px 10px;
            }
            div {
                div {
                    img {
                        width: 270px;
                        height: 270px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 376px) {
/* HERO(INICIO)/MAX 376PX */
    .hero {
        p {
            padding: 30px 40px;
        }
    }
}

@media screen and (max-width: 359px) {
/* HERO(INICIO)/MAX 359PX */
    .hero {
        height: auto;
        h1 {
            margin-top: 20px;
        }
        a {
            margin-bottom: 20px;
        }
    }
}