// COLORES
$color_texto: #232744;
$texto_boton_final: #FBF2F2;
$principal: #ED5772;

// MIXINS
@mixin texto($color, $weight, $size, $align) {
    color: $color;
    font-weight: $weight;
    font-size: $size;
    text-align: $align;
}

